{% extends 'master/base.html' %}


{% block body %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" name="name" value="{{stu_data.name}}" class="form-control" id="exampleInputPassword1">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone</label>
    <input type="number" name="phone"value="{{stu_data.phone}}" class="form-control" id="exampleInputPassword1">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image</label>
    <input type="file" name="image"value="{{stu_data.image}}" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
{% endblock body %}
    